.content-section {
   display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    height: auto;
   
    
}
.Logos-box {
    
   
    justify-items: center;
    
    text-align: center;
    
}
.text-content {
    display: flex;
  justify-content:space-evenly ;
  text-align: center;
}
.discover-design {
    height: 100px;
    background-color: blue;
    clip-path: polygon(100% 0, 100% 40%, 0% 100%, 0 60%);
    align-items: center;
    align-content: center;
    grid-column: 1 / -1;
    

}
.text-discover {
    color: white;
   rotate: -9deg;
    
    
    
}


@media (min-width: 768px) {
    .discover-design  {
        height: 300px;
    }
    .text-discover {
        rotate: -6deg;
    }
}
.genre-section {
    display: flex;
    justify-content: center;
    gap:30px;
    
}
.products-container {
    display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 5px;
   padding: 20px;
    
}
.pre-Footer {
    display: flex;
    justify-content: center;
    
}
.pre-Footer-text {
    display: flex;
    gap: 50px;
    font-size: 20px;
    font-weight: bold;
    
}