.product-card {
  
   
   
   min-width: 120px;
   min-height: 300px;
   border: 1px solid var(--secondary-color);
   border-radius: 15px;
   
   text-align: center;
   
   
}
@media (min-width: 768px) {
   .product-card {
      width:350px;
      height: auto;
   }
}