.header-container {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  color: #000000;
  display: flex;
  justify-content: space-between;
  
}
.header-buttons {
  
  gap: 10px;
  
  
}
.header-ancords {
  
  justify-content: flex-start;
  color: #000000;
}
nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #000000;
}
button {
  padding: 10px 15px;
  border: none;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
}