.header-container {
  background-color: var(--secondary-color);
  
  text-align: center;
  color: #000000;
  display: flex;
  justify-content: space-between;
  
}
.header-buttons {
  
  gap: 10px;
  
  
}


button {
  padding: 3px;
  border: none;
  background-color: var(--secondary-color);
  color: #000000;
  cursor: pointer;
}
.header-more-info {
  font-size: 14px;
  color: #ff4141;
}
.header-logo {
  font-size: 24px;
  justify-content: center;
  align-items: center;
  
} 