
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root 
{
    --primary-color: #333232;
    --secondary-color: #313030;
   --background-color: #cecece;
   --principal-font:system-ui, sans-serif;

   --space-small: 0.5rem;
    --space-medium: 1rem;
    --space-large: 2rem;
}   
body 
{
    font-family: var(--principal-font);
    background-color: var(--background-color);
    color: rgb(0, 0, 0);
    line-height: 1.6;
  
    
}
a
{
    text-decoration: none;
    color: var(--primary-color);
}
