
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root 
{
    --primary-color: #ffffff;
    --secondary-color: #313030;
   --background-color: #1d1c1c;
   --principal-font:system-ui, sans-serif;

   --space-small: 0.5rem;
    --space-medium: 1rem;
    --space-large: 2rem;
}   
body 
{
    font-family: var(--principal-font);
    background-color: var(--background-color);
    color: white;
    line-height: 1.6;
    
}
a
{
    text-decoration: none;
    color: var(--primary-color);
}
header, footer
{
    background-color: var(--secondary-color);
    padding: 1rem;
    text-align: center;
}