.homepage
{
   display: grid;
   grid-template-columns: auto ;
   grid-template-rows:45vh auto ;
   width: 100%;
   height: auto;
   margin: 0;
}
.products-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 5px;
   padding: 20px;
   
}  
.homepage-content {
   display: flex;
   grid-column: 1 /  -1;
   grid-row: 1 /  1;
   background-color: var(--background-color);
   overflow-x: auto;
   scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    position: relative;
    width: 100%;
    
   
 
}
.nav-btn {
  
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: rgb(187, 185, 185);
  border: none;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.nav-btn.left {
   left: 10px;
}
.nav-btn.right {
   right: 10px;
}

.homepage-content::-webkit-scrollbar {
   display: none;
}







.card
{
   display: grid;
   grid-template-columns: 1fr auto 1fr;
   
   align-items: center;
   
   scroll-snap-align: start;
   flex: 0 0 100%;
   background: radial-gradient(circle,rgba(255, 255, 255, 1) 0%, rgba(206, 177, 158, 1) 70%);
}
article
{
   
   font-weight: bold;
}
img {
  height: 50vh;  
}
button {
   
   background-color: var(--background-color);
   
} 


.info-card {
   grid-column: 1 / -1;
   background-color: var(--primary-color);
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   font-size: 18px;
   
   height: 50px;
  
}
@media (min-width: 768px) {
   .homepage {
      grid-template-columns: 1fr  ;
      grid-template-rows: 50vh auto ;
      height: auto;
      margin-bottom: 50px;
    
   }
   .homepage-content {
        grid-column: 1 / span 1; 
        grid-row: 1 / span 1;
    }
    .info-card {
        grid-column: 1 / span 1;
    }
    .card {
        background: radial-gradient(circle,rgba(255, 255, 255, 1) 0%, rgba(206, 177, 158, 1) 40%);
    }
}

