.homepage
{
   display: grid;
   grid-template-columns: auto ;
   grid-template-rows:45vh auto ;
   width: 100%;
   height: auto;
   margin: 0;
}
.products-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 5px;
   padding: 20px;
   
}  
.homepage-content {
   grid-column: 1 /  -1;
   grid-row: 1 /  1;
   background-color: var(--background-color);
   
}
.info-card {
   grid-column: 1 / -1;
   background-color: var(--primary-color);
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   font-size: 18px;
   min-width: 100px;
   height: 50px;
  
}
@media (min-width: 768px) {
   .homepage {
      grid-template-columns: 1fr  ;
      grid-template-rows: 45vh auto ;
      height: auto;
      margin-bottom: 50px;
    
   }
   .homepage-content {
        grid-column: 1 / span 1; 
        grid-row: 1 / span 1;
    }
    .info-card {
        grid-column: 1 / span 1;
    }
}

