.homepage
{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr  ;
   grid-template-rows: 50vh auto 100px;
 
   gap: 10px;
}
.homepage-content {
   grid-column: 1 / span 5;
   grid-row: 1 / span 3;
   background-color: lightseagreen;

}
.info-card {
   grid-column: 1 / span 5;
   
   background-color: lightcoral;
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   font-size: 18px;
  
}

.card1 {
   
  border-radius: 30px;
 
   background-color: rgb(6, 192, 167);
}
.card2 {
  
  
   background-color: rgb(48, 1, 255);
}
.card3 {
   
  
   background-color: rgb(70, 52, 114);
}
.card4 {
   
  
   background-color: rgb(21, 136, 88);
}
.card5 {
  
  
   background-color: rgb(134, 33, 33);
}